@import url('https://www.automobilemag.com/uploads/sites/11/2018/06/Honda-Civic-Type-R-at-Jay-Lenos-Garage-8377.jpg');

#navbar a {
  color: aliceblue;
  text-decoration: none;
}
#text{
	background-color: #191919;
	margin: 20px;
	padding: 30px;
}

#text1 {
  font-weight: bolder;
  color:whitesmoke;
  
}

#text2 {
  font-weight: bolder;
  color:whitesmoke;
  line-height: 2.8;
  
}

#footer{
	position: absolute; 
	bottom: 5px; 
	color: white;
	
	}
#biz-totals{
	
}
#emp-list{
	border-style: inset;
	text-align: center;
	
}
#all-cust{
	font-size: 60px;
	border-style: inset;
	border-radius: 50%;
	width:100px;
	height:100px;
	text-align: center;
}
#all-appt{
	font-size: 60px;

	border-style: inset;
	border-radius: 50%;
	width:100px;
	height:100px;
	text-align: center;
}
#all-mech{
	font-size: 60px;

	border-style: inset;
	border-radius: 50%;
	width:100px;
	height:100px;
	text-align: center;
}

#totals{
	font-size: larger;
	column-count: 3;
}
#title{
	text-align: center;
	font-size: 60px;
	color: black;
}
#footer p{
	font-size: 18px;
	font-weight: bolder
}

#biz-totals {
  margin: 5%;
}
#totals {
  font-size: larger;
  column-count: 3;
  padding: 5px;
}

#title {
  text-align: center;
  font-size: 60px;
  color: black;
}

#landing{
	position: absolute;
	height: 94.3%;
	width: 100%;
	background: url('https://www.automobilemag.com/uploads/sites/11/2018/06/Honda-Civic-Type-R-at-Jay-Lenos-Garage-8377.jpg')
		no-repeat center fixed;
	background-size: cover;
}

#photocard {
  list-style: none;
  margin: 1rem;
  text-align: center;
}
#photocard img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
#photocard h2{
	font-family:  Georgia, 'Times New Roman', Times, serif;
}

#appcard {
  margin: 20px;
}

#date {
  padding: 8px 20px;
  margin: 8px 0px;
  border: 1px ridge #d4d4d4;
  border-radius: 3px;
}

@media (min-width: 1200px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 2200px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 2100px) {
  .card {
    width: calc(20% - 2rem);
  }
}

#manageText1{
	padding: 5px;
}

#marginbutton1{
	margin:5px;
}

#managebutton2{
	border-radius: 10%;
	border-color: grey;
	background-color: whitesmoke;	
}

/* #staff-list{

	padding-left: 50%;
} */
#staffhead{
	padding-left: 45%;
}

#staffbutton{
	position: relative;
	left: 680px;
	right: 10px;
	bottom: 2px;
	top: 4px;
	
}

#appoList{
	padding-left: 20px;
	
}
#costomerList{
	padding-left: 20px;
}

#titleStaff{
text-align: center;
padding-top: 20px;
font-weight: bolder;
font-family:Georgia, 'Times New Roman', Times, serif;

}